body {
    max-width: 90%;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}

header {
    color: #fff;
    background-color: #000;
    max-height: 100px;
}


header span {
    display: inline-block;
    font-weight: bold;
    vertical-align: top;
    padding: 0.75em;
}

header nav {
    float: right;
    padding-right: 0.5em;
}

header nav p {
    padding-top: 0;
    font-size: 0.9em;
    font-weight: bold;
}

header nav a {
    color: white;
}

main {
    font-family: 'Quicksand', sans-serif;
    text-align: justify;
}

#map {
    width: 100%;
    height: 67vh;
    border: 1px solid gray;
}

#slider {
    width: 91%;
}

main figure img  {
    max-width: 100%;
    height: auto;
}

.box1, .box2, .box3 {
    float: left;
    width: 32%;
    margin-right: 2%;
    padding: 5px;
    background: white;
    box-sizing: border-box;
}
.box3 {
    margin-right: 0;
}


#drugs-classes {
    width: 250px;
    height: auto;
    float: right;
}

#flag {
    border-radius: 30%;
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}


/* figure {
    display: inline-block;
    text-align: center;
} */

figure img {
    vertical-align: top;
}

figure figcaption {
    border: none;
    text-align: center;
}

#dateOutput {
    font-size: 0.9em;
    float: right;
    padding-right: 0.5em;
    padding-top: 0.25em;
}

#sliderDiv {
    padding-top: 0.5em;
}