#map {
    width: 90%;
    height: 70vh;
    border: 1px solid gray;
}

body {
    max-width: 1920px;
    margin: auto;
    font-family: "Open Sans", sans-serif;
}

header {
    color: #fff;
    background-color: #000;
    max-height: 100px;
}


header span {
    display: inline-block;
    font-weight: bold;
    vertical-align: top;
    padding: 0.75em;
}

header nav {
    float: right;
    padding-right: 0.5em;
}

header nav p {
    padding-top: 0;
    font-size: 0.9em;
    font-weight: bold;
}

header nav a {
    color: white;
}

.label-weed {
    color: #3d9970;
    width: 20px;
    height: 20px;
}

#slider {
    width: 85%;
}
